:root {
  --card-min-width: var(--card-width);
  --card-width: 114px;

  @media (max-width: $breakpoint-lg) {
    --card-width: 98px;
  }

  @media (max-width: $breakpoint-md) {
    --card-width: 141px;
  }

  @media (max-width: $breakpoint-sm) {
    --card-width: 115px;
  }
}
