@keyframes rebound {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  25% {
    transform: scale(0.9, 1.1) translateX(-200px);
  }
  50% {
    transform: scale(1.1, 0.9) translateX(18px);
  }
  75% {
    transform: scale(0.9, 1.1) translateX(-100px);
  }
  100% {
    transform: scale(1, 1) translateX(0);
  }
}

@keyframes rebound-copy {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  25% {
    transform: scale(0.9, 1.1) translateX(-200px);
  }
  50% {
    transform: scale(1.1, 0.9) translateX(18px);
  }
  75% {
    transform: scale(0.9, 1.1) translateX(-100px);
  }
  100% {
    transform: scale(1, 1) translateX(0);
  }
}

@media (max-width: $breakpoint-md) {
  @keyframes rebound {
    0% {
      transform: scale(1, 1) translateX(0);
    }
    25% {
      transform: scale(0.9, 1.1) translateX(-100px);
    }
    50% {
      transform: scale(1.1, 0.9) translateX(18px);
    }
    75% {
      transform: scale(0.9, 1.1) translateX(-50px);
    }
    100% {
      transform: scale(1, 1) translateX(0);
    }
  }

  @keyframes rebound-copy {
    0% {
      transform: scale(1, 1) translateX(0);
    }
    25% {
      transform: scale(0.9, 1.1) translateX(-100px);
    }
    50% {
      transform: scale(1.1, 0.9) translateX(18px);
    }
    75% {
      transform: scale(0.9, 1.1) translateX(-50px);
    }
    100% {
      transform: scale(1, 1) translateX(0);
    }
  }
}

.header {
  background-color: var(--primary-color);
  border-left: 2px solid $border-color;
  grid-area: header;
  display: flex;
  justify-content: end;
  padding-right: 20px;

  &__button-wrapper {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    fill: var(--controls-color);
  }

  &__switcher-container {
    line-height: 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @media (hover: hover) {
      &:hover .header__switcher--animation {
        opacity: 0.6;
      }
    }

    &:active .header__switcher--animation {
      opacity: 1;
    }
  }

  &__switcher-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    margin: 0;
    // overlaps the button to trigger the click
    z-index: 1;
    cursor: pointer;

    &--second {
      display: none;
    }

    &--first:checked {
      display: none;

      & ~ .header__switcher-input--second {
        display: inline-block;
      }

      & ~ .header__switcher--animation {
        animation: rebound 5s alternate 1;
      }
    }

    &--second:checked {
      display: none;

      & ~ .header__switcher-input--first {
        display: inline-block;
      }

      & ~ .header__switcher--animation {
        animation: rebound-copy 5s alternate 1;
      }
    }
  }

  &__switcher {
    width: 25px;
    height: 25px;
    line-height: 0;
    border: transparent;
    background: transparent;
    cursor: pointer;
    padding: 0;
    color: inherit;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.3;

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }

    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: $header-height;
    border: 0px;
    z-index: 1;

    &__switcher-container {
      &:focus-visible .header__switcher--animation {
        opacity: 0.6;
      }
    }
    &__switcher {
      &:focus-visible {
        opacity: 0.6;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .header {
    grid-template-rows: 1fr;
  }
}
