@keyframes rebound {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  25% {
    transform: scale(0.9, 1.1) translateX(-200px);
  }
  50% {
    transform: scale(1.1, 0.9) translateX(20px);
  }
  75% {
    transform: scale(0.9, 1.1) translateX(-100px);
  }
  100% {
    transform: scale(1, 1) translateX(0);
  }
}

@keyframes rebound-copy {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  25% {
    transform: scale(0.9, 1.1) translateX(-200px);
  }
  50% {
    transform: scale(1.1, 0.9) translateX(20px);
  }
  75% {
    transform: scale(0.9, 1.1) translateX(-100px);
  }
  100% {
    transform: scale(1, 1) translateX(0);
  }
}

@media (max-width: $breakpoint-md) {
  @keyframes rebound {
    0% {
      transform: scale(1, 1) translateX(0);
    }
    25% {
      transform: scale(0.9, 1.1) translateX(-100px);
    }
    50% {
      transform: scale(1.1, 0.9) translateX(20px);
    }
    75% {
      transform: scale(0.9, 1.1) translateX(-50px);
    }
    100% {
      transform: scale(1, 1) translateX(0);
    }
  }

  @keyframes rebound-copy {
    0% {
      transform: scale(1, 1) translateX(0);
    }
    25% {
      transform: scale(0.9, 1.1) translateX(-100px);
    }
    50% {
      transform: scale(1.1, 0.9) translateX(20px);
    }
    75% {
      transform: scale(0.9, 1.1) translateX(-50px);
    }
    100% {
      transform: scale(1, 1) translateX(0);
    }
  }
}
