//Overlaps the content on the mobile phone
$z-index-header: 1;
// overlaps the content
$z-index-menu: 1;
// overlaps the menu
$z-index-burger: $z-index-menu + 1;
// blocking the burger to trigger a click
$z-index-burger-checkbox: $z-index-burger + 1;
