@import './variables.scss';

.burger {
  grid-area: burger;
  display: none;
  align-items: center;

  position: fixed;
  width: 25px;
  height: 25px;
  z-index: $z-index-burger;
  top: 17px;
  left: 20px;

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
  }
  &__line {
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--controls-color);
    border-radius: 2px;
    transition: transform $burger-transition;
    transform-origin: center;

    &:first-child {
      transform-origin: top left;
    }

    &:last-child {
      transform-origin: bottom left;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .burger {
    display: flex;
  }
}
